Listas y Tuplas
Ejercicios de Listas:

In [ ]:
#1.Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.

In [4]:
colores = ['rojo', 'amarillo', 'blanco', 'niegro', 'azul']
colores

['rojo', 'amarillo', 'blanco', 'niegro', 'azul']

In [5]:
#2.Haz una lista llamada buses de las líneas de autobuses que pasan por tu casa.

Buses = [11, 33, 30, 36, 604]
Buses

[11, 33, 30, 36, 604]

In [6]:
#3. Apunta la previsión de temperaturas máximas para todos los días de esta semana en temperaturas.

Temperaturas = [13,14, 17, 19, 29, 16, 13]
Temperaturas

[13, 14, 17, 19, 29, 16, 13]

In [7]:
#4- Convierte tu(s) nombre(s) a una lista nombres de caracteres.

Nombres = ['Rocio', 'Marine', 'Thaissa', 'Marti']
Nombres

['Rocio', 'Marine', 'Thaissa', 'Marti']

In [8]:
#3.Convierte tu(s) apellido(s) a una lista apellidos de caracteres.
Apelidos = ['Lopez', 'SOares', 'Cortez', 'Rodrigues']
Apelidos

['Lopez', 'SOares', 'Cortez', 'Rodrigues']

In [9]:
#6.¿Cuántos búses pasan por tu casa?
len(Buses)

5

In [4]:
#7.¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?

len(apellido)

NameError: name 'apellido' is not defined

In [10]:
#8. ¿Cuáles son las temperaturas máximas (t_max) y mínimas (t_min) para esta semana?
max(Temperaturas)
min(Temperaturas)

13

In [12]:
#9.Hay una 'e' en tu nombre?
"e" in Apelidos

False

In [13]:
#10. Tienes el color 'rosa' en la lista de colores?
"Rosa" in colores

False

In [15]:
#11.  Tiene una 'x' tu nombre? (Usa not in)
"x" in Nombres

False

In [16]:
#12.Copia el contenido de temperaturas a temperaturas2, y temperaturas3.

Temperaturas2 = Temperaturas
Temperaturas3 = Temperaturas
Temperaturas2
Temperaturas3

[13, 14, 17, 19, 29, 16, 13]

In [18]:
#13. Vacía el contenido de la variable temperaturas2
Temperaturas2.clear()

In [20]:
#14.Imprime el contenido de temperaturas y temperaturas2.
Temperaturas2

Temperaturas

[]

In [23]:
#15. Copia el contenido de nombres a nombres2.
Nombres2 = Nombres
Nombres2

['Rocio', 'Marine', 'Thaissa', 'Marti']

In [26]:
#16.Copia el contenido de apellidos a apellidos2.
Apeldidos2 = Apelidos.copy()
Apeldidos2

['Lopez', 'SOares', 'Cortez', 'Rodrigues']

In [28]:
#17. Ordena la variable temperaturas3 de mayor a menor.
Temperaturas.sort()
Temperaturas

[]

In [30]:
#18.Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas

Nombres.sort()
Nombres

['Marine', 'Marti', 'Rocio', 'Thaissa']

In [35]:
Apelidos.sort()
Apelidos

['Cortez', 'Lopez', 'Rodrigues', 'SOares']

In [36]:
#19.¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?
"a" in Apelidos

False

In [ ]:
#20.Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.

In [8]:
#21. ¿Cuántas veces esta semana llega la temperatura a la t_max? ¿Y cuántas a la t_min?

temperaturas.count(temp_max)

NameError: name 'temperaturas' is not defined

In [38]:
#22. La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.
dias = [
 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',  'sunday'
]
dias

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [41]:
#23.

temperaturas_diciembre = [10, 10, 13, 14, 12, 15,  12, 11, 13, 17, 18, 15, 
15, 17, 17, 13, 13, 11, 12, 10, 12, 14, 12, 12,
 11, 12, 16, 16, 14, 17, 18]
temperaturas_diciembre

[10,
 10,
 13,
 14,
 12,
 15,
 12,
 11,
 13,
 17,
 18,
 15,
 15,
 17,
 17,
 13,
 13,
 11,
 12,
 10,
 12,
 14,
 12,
 12,
 11,
 12,
 16,
 16,
 14,
 17,
 18]

In [9]:
#24.¿Cuál es el penúltimo día de la semana?

dias_en[-2]

NameError: name 'dias_en' is not defined

In [13]:
#25. Cuál es el último elemento de la lista de temperaturas de diciembre?
    
temperaturas_diciembre[-1]

NameError: name 'temperaturas_diciembre' is not defined

In [17]:
#26. Está 'friday' en la lista de días en inglés? Si está, ¿dónde?

dias_en.index("friday")

NameError: name 'dias_en' is not defined

In [18]:
#27.¿Cuál era la temperatura máxima en diciembre?

max(temperaturas_diciembre)

NameError: name 'temperaturas_diciembre' is not defined

In [19]:
#28. ncuentra el índice de 'miércoles' en dias_es.

dia_es.index("miercules")

NameError: name 'dia_es' is not defined

In [47]:
#29.(Bonus) Imprime esta frase en pantalla: 'La temperatura máxima esta semana será 14 ºC, 
# que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC,
#  que ocurrirá en 2 día(s).'

print ('La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s)' dias)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1811385414.py, line 5)

Ejercicios de Tuplas:

In [2]:
#Definir tuplas
#1.Crea una tupla persona1 para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. (Serán del tipo int, float y str.)
persona1 = ("61 kg", "1.54 m altura", "pelo marrón")
persona1

('61 kg', '1.54 m altura', 'pelo marrón')

In [4]:
#2.Crea una tupla para la persona2 de 68 kg, 1.65 m y pelo rubio, usando paréntesis.
persona2 = ("68 kg", "1.65 m","pelo rubio")
persona2

('68 kg', '1.65 m', 'pelo rubio')

In [7]:
#3. Crea una lista talla que recompila 'M', 42, y 39.
talla = ['M', 42, 39]
talla

['M', 42, 39]

In [21]:
#4.Convertir y juntar

lista_tuplas = persona1 + talla
lista_tuplas

NameError: name 'persona1' is not defined

In [8]:
#5. Convierte la lista talla a una tupla.
talla = tuple(talla)
talla

('M', 42, 39)

In [13]:
#6. Une a la tupla de persona1 los datos en talla, para tener una única tupla.
unicatupla = persona1 + talla
unicatupla

('61 kg', '1.54 m altura', 'pelo marrón', 'M', 42, 39)

In [ ]:
#Indexar tuplas
#7. Saca de persona2 el contenido del tercer elemento y llámalo color.

color = persona2[2]
color

NameError: name 'persona2' is not defined

In [24]:
#8. ¿Cuántos elementos hay ahora en persona1? (Es decir, ¿cuál es su longitud?)

count(personas)

NameError: name 'count' is not defined

In [25]:
color = persona2[2]
color

NameError: name 'persona2' is not defined

In [26]:
#Desempaquetar
#9. Crea las variables peso, altura, color_pelo y llénalas con el contenido de persona1. Imprime color_pelo para comprobar 
# el resultado.
#Zipear

persona1.add("peso", "altura", "color_pel0")

NameError: name 'persona1' is not defined

In [22]:
#10.Crea el zip personas con persona1 y persona2.
personas = zip(persona1, persona2)
personas

NameError: name 'persona1' is not defined

In [23]:
#11.¿Cuántas "elementos" tiene personas? ¿Por qué?
len(personas)

NameError: name 'personas' is not defined

In [24]:
#12.Crea una tupla etiquetas con 'peso', 'altura', y 'color_pelo'.
etiquetas = (52, 1,60, "castano")
etiquetas

(52, 1, 60, 'castano')

In [25]:

#13.Crea al zip de etiquetas, persona1, y persona2, llamado "todo".

todo = zip.etiqueta (persona1, persona2)
todo

AttributeError: 'tuple' object has no attribute 'etiqueta'

In [ ]:
#Manipular zip
#14.Ordena las propiedades de la variable personas alfabéticamente. ¿Puedes? ¿Por qué?