In [14]:
#jercicios de diccionarios

#Definir diccionarios

#Crea el diccionario festivos con las fechas como claves y los nombres como valores: 01/01: Año Nuevo, 06/01: Epifanía del Señor, 15/04: Viernes Santo, 15/08: Asunción de la Virgen, 12/10: Fiesta Nacional de España, 01/11: Todos los Santos, 06/12: Día de la Constitución Española, y 08/12: Inmaculada Concepción.

festivos = {
"01/01": "Ano Nuevo","06/01":"Epifanía del Señor": "15/04":"Viernes Santo",
"15/08": "Assunción de la Virgen","12/10": " Fiesta Nacional de España", "01/11":" Todos los Santos", "06/12":"Día de la Constitución Española", "08/12": "Inmaculada Concepción"
}

festivos = {
"01/01": "Ano Nuevo","06/01":"Epifanía del Señor": "15/04":"Viernes Santo",
"15/08": "Assunción de la Virgen","12/10": " Fiesta Nacional de España", "01/11":" Todos los Santos", "06/12":"Día de la Constitución Española", "08/12": "Inmaculada Concepción"
}

In [15]:
#1.ea el diccionario festivos con las fechas como claves y los nombres como valores: 01/01: Año Nuevo, 06/01: Epifanía del Señor, 15/04: Viernes Santo, 15/08: Asunción de la Virgen, 12/10: Fiesta Nacional de España, 01/11: Todos los Santos, 06/12: Día de la Constitución Española, y 08/12: Inmaculada Concepción.

festivos = {
"01/01": "Ano Nuevo",
"06/01":"Epifanía del Señor", 
"155/04":"Viernes Santo",
"15/08": "Assunción de la Virgen",
"12/10": " Fiesta Nacional de España", 
"01/11":" Todos los Santos", 
"06/12":"Día de la Constitución Española", 
"08/12": "Inmaculada Concepción"
}
festivos

{'01/01': 'Ano Nuevo',
 '06/01': 'Epifanía del Señor',
 '155/04': 'Viernes Santo',
 '15/08': 'Assunción de la Virgen',
 '12/10': ' Fiesta Nacional de España',
 '01/11': ' Todos los Santos',
 '06/12': 'Día de la Constitución Española',
 '08/12': 'Inmaculada Concepción'}

In [16]:
#Crea el diccionario monarcas con los países como claves y los nombres como valores:

Monarcas = {
"Bélgica": "Phillipe",
" Dinamarca": "Margrethe II",
"Holanda": "Beatrix",
"Noruega": "Harald V",""
"España": "Felipe VI",
"Reino Unido": " Carlos III"
}
Monarcas

{'Bélgica': 'Phillipe',
 ' Dinamarca': 'Margrethe II',
 'Holanda': 'Beatrix',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': ' Carlos III'}

In [17]:
#Leer, añadir, y cambiar elementos

In [18]:
#3.¿Qué festivo hay el 15/04
festivos.get("15/04")

#4.La reina 'Beatrix' abdicó, ahora es el rey 'Willem-Alexander'. Actualiza el dict.

Momarcas.pop("Beatrix")
monarcas

In [19]:
#4.La reina 'Beatrix' abdicó, ahora es el rey 'Willem-Alexander'. Actualiza el dict.

In [20]:
monarcas["Dinamarca"] = "Willem-Alexander"

NameError: name 'monarcas' is not defined

#El rey de Luxemburgo se llama Henri. Añadelo al dict usando .update().

Monarcas.update("Luxemburgo": "Henri")
Monarcas

In [ ]:
#5. rey de Luxemburgo se llama Henri. Añadelo al dict usando .update().

Monarcas.update({"Luxemburgo": "Henri"})
Monarcas

{'Bélgica': 'Phillipe',
 ' Dinamarca': 'Margrethe II',
 'Holanda': 'Beatrix',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': ' Carlos III',
 'Luxemburgo': 'Henri'}

In [ ]:
#.Comprobarcontenidos
 #6.¿Cuántos países están definidos en monar
 
len(Monarcas)

7

In [ ]:
#7.Monaco' uno de ellos?

"Monaco" in Monarcas

False

In [ ]:
#8.     ¿Es verdad que nos olvidamos de poner 'Suecia'? Compruébalo de una manera en que obtengas un True o False.

"Suencia " in Monarcas

False

#Listar los contenidos

#9.Saca una lista de todos los países en el dict monarcas.
Monarcas(values)

In [30]:
(monarcas.keys())

NameError: name 'monarcas' is not defined

#10. Saca una lista de los nombres de los festivos.
key(festivos)

In [22]:
festivos.keys()

dict_keys(['01/01', '06/01', '155/04', '15/08', '12/10', '01/11', '06/12', '08/12'])

In [31]:
festivos.valeus()

AttributeError: 'dict' object has no attribute 'valeus'

In [ ]:
#11.

#11.Imprime el diccionario de festivos.
#12.Imprime una lista de tuplas de todos los elementos que hay en festivos.

In [ ]:
festivos

{'01/01': 'Ano Nuevo',
 '06/01': 'Epifanía del Señor',
 '155/04': 'Viernes Santo',
 '15/08': 'Assunción de la Virgen',
 '12/10': ' Fiesta Nacional de España',
 '01/11': ' Todos los Santos',
 '06/12': 'Día de la Constitución Española',
 '08/12': 'Inmaculada Concepción'}

In [28]:
# 12. Imprime una lista  de tuplas de todos los elementos que hay en festivos.
list(festivos.items())

[('01/01', 'Ano Nuevo'),
 ('06/01', 'Epifanía del Señor'),
 ('155/04', 'Viernes Santo'),
 ('15/08', 'Assunción de la Virgen'),
 ('12/10', ' Fiesta Nacional de España'),
 ('01/11', ' Todos los Santos'),
 ('06/12', 'Día de la Constitución Española'),
 ('08/12', 'Inmaculada Concepción')]

Copiar dicts, y borrar elementos

13.Copia monarcas a monarcas2010.
14. Quita España de monarcas2010.
15.Quita el último elemento de monarcas2010.

In [ ]:
#13.
Monarcas2010 = (Monarcas)
Monarcas2010

{'Bélgica': 'Phillipe',
 ' Dinamarca': 'Margrethe II',
 'Holanda': 'Beatrix',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': ' Carlos III',
 'Luxemburgo': 'Henri'}

In [33]:
#14

monarcas2010.pop("España")
monarcas2010

NameError: name 'monarcas2010' is not defined

In [34]:
monarcas2010.pop("España")
monarcas2010

NameError: name 'monarcas2010' is not defined

In [ ]:
#15.
Monarcas.popitem()
Monarcas

{'Bélgica': 'Phillipe',
 ' Dinamarca': 'Margrethe II',
 'Holanda': 'Beatrix',
 'Noruega': 'Harald V',
 'España': 'Felipe VI'}

In [26]:
#Vaciar y borrar dicts
clear(dicts)

NameError: name 'clear' is not defined

#15.Vacia el dict monarcas2010.

In [ ]:
clear(Monarcas2010)

In [ ]:
#Obtener valores
#16. Qué festivo hay el 06/01?

festivos.get("06/01")

'Epifanía del Señor'

In [ ]:
#17.     Obten el festivo que haya el 08/03, y en su defecto devuélve 'Día Internacional de la Mujer'.
festivos.get("Día Internacional de la Mujer")

In [35]:
#18.    Obten el festivo que haya el 31/11, y si no existe crea un par de clave-valor nuevo con el valor de 'Todos los Santos'

festivos.get("08/03", "Dia Internacional de la Mujer")

'Dia Internacional de la Mujer'

In [ ]:
festivos.get("Todos los Santos")

Ejercicios de sets:

In [ ]:
#Definir sets
# 1.De# fine la lista

temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                          12, 11, 13, 17, 18, 15, 
                          15, 17, 17, 13, 13, 11,
                          12, 10, 12, 14, 12, 12,
                          11, 12, 16, 16, 14, 17, 18]
temperaturas_diciembre

[10,
 10,
 13,
 14,
 12,
 15,
 12,
 11,
 13,
 17,
 18,
 15,
 15,
 17,
 17,
 13,
 13,
 11,
 12,
 10,
 12,
 14,
 12,
 12,
 11,
 12,
 16,
 16,
 14,
 17,
 18]

In [ ]:
#2.Conviértala en un set llamado diciembre.

diciembre = set(temperaturas_diciembre)
diciembre

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [ ]:
#3.Piensa en 6 colores y almacenalos en un set llamado colores.
colores1= ("amarilo", "rojo", "azul", "blanco", "niegro")
colores = set(colores1)
colores

{'amarilo', 'azul', 'blanco', 'niegro', 'rojo'}

In [ ]:
#Ampliar sets
#4. Añade 'lila' a colores.
#5. Añade 'azul', 'rojo', y 'granate' a colores usando .update().
in, not in
#6.Tu set de colores, ¿tiene 'verde'?
#7. ¿Y tiene 'ROJO'?

In [ ]:
colores.add("lila")
colores

{'amarilo', 'azul', 'blanco', 'lila', 'niegro', 'rojo'}

In [ ]:
colores.add("granate")
colores

{'amarilo', 'azul', 'blanco', 'granate', 'lila', 'niegro', 'rojo'}

In [ ]:
"verde" in colores

False

In [ ]:
"rojo" in colores

True

In [ ]:
#Copiar, borrar elementos
#8.Define el set enero para que sea igual a diciembre.
#9.Quita las temperaturas 17, y 18 de enero.
#10.Tamaño de un set
#11. Cuántas temperaturas distintas había en diciembre?
#12.¿Y cuántas en enero?

In [ ]:
enero = diciembre
enero

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [40]:
enero.remove(17)
enero.remove(18)
enero

NameError: name 'enero' is not defined

In [41]:
len(diciembre)

NameError: name 'diciembre' is not defined

In [44]:
len(emero)

NameError: name 'emero' is not defined

In [1]:
len(diciembre)

NameError: name 'diciembre' is not defined

In [ ]:
len(enero)

9

In [ ]:
#Conjuntos con sets
#13.Identifica los elementos que hay en diciembre que no están en enero.
#14.Identifica los elementos que hay en enero que no están en diciembre.
#15.Identifica los elementos que tienen en común diciembre y enero.
#16.Identifica la diferencia simétrica de colores y {'marrón','amarillo','cyan'}. ¿Qué significa este resultado?

#Comparar sets
#17Son disjoint diciembre y enero? ¿Por qué (no)?
#18.¿Es {'rojo','azul'} un superset de colores?
#19.¿Y un subset?

In [ ]:
diciembre.intersection.enero

AttributeError: 'builtin_function_or_method' object has no attribute 'enero'

In [ ]:
enero difference diciembre

SyntaxError: invalid syntax (2706719632.py, line 1)